<script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-sanitize.min.js"></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

<div id='app-root' style='margin: 5px;'>
  <div ng-controller="DebugController">
  </div>

  <div ng-controller='ModeratorController'>
    <div ng-if="poker.moderator.id == poker.me.id">
      <p class='lead'>Moderator</p>

      <form role="form">
        <div class='form-group'>
          <label for="availablePoints">Point Range</label>
          <input type='text' class='form-control' id='availablePoints' ng-model='poker.availablePoints' ng-list>
        </div>

        <div class='form-group'>
          <textarea class='form-control' id='description' rows='2'
            ng-model="poker.description.text" placeholder='Item Description/Link'></textarea>
        </div>

        <div class='form-group'>
          <div class='checkbox'>
            <label for="votesRevealed">
              <input type='checkbox' ng-model='poker.votesRevealed.value'>
              Show Votes
            </label>
          </div>
        </div>

        <div class='form-group'>
          <button class='btn btn-primary' ng-click="update()">Update</button>
        </div>
      </form>
    </div>

    <div ng-if="poker.moderator.id != poker.me.id" class='text-center'>
      <button class='btn btn-default' ng-click='becomeModerator()'>Become Moderator</button>
    </div>

    <hr>
  </div>

  <div ng-controller="VoteController">
    <div>Current item:</div>
    <div ng-bind-html="poker.description.text | linky"></div>

    <div class='btn-group text-center'>
      <button ng-repeat='point in poker.availablePoints' class='btn btn-default'
        ng-click='vote(point)'>{{point}}</button>
    </div>
  </div>

  <div ng-controller="ParticipantsController">
    <ul class='list-unstyled'>
      <li ng-repeat="person in poker.participants"
        ng-class="{'text-success': voted(person), 'text-danger': !voted(person)}">
        <span ng-show="!voted(person)" class="glyphicon glyphicon-remove"></span>
        <span ng-show="voted(person)" class="glyphicon glyphicon-ok"></span>
        {{ person.person.displayName }}
        <em ng-if="!poker.votesRevealed.value" class='text-muted'>
          <span ng-show="!voted(person)">...</span>
          <span ng-show="voted(person)">ready</span>
        </em>

        <span ng-if="poker.votesRevealed.value">
          {{ poker.votes[person.id] }}
        </span>
      </li>
    </ul>
  </div>
</div>
