<script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-sanitize.min.js"></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

<div id='app-root'>
  <div ng-controller="DebugController">
  </div>

  <div ng-controller='ModeratorController'>
    <div ng-if="poker.moderator.id == poker.me.id">
      <h1>Moderator</h1>
      <div>
        Points: <input type='text' ng-model='poker.availablePoints' ng-list>
      </div>
      <div>
        Current Item Description:<br>
        <textarea ng-model="poker.description.text"></textarea>
      </div>
      <div>
        Votes revealed: <input type='checkbox' ng-model='poker.votesRevealed.value'>
      </div>

      <div>
        <button ng-click="update()">Update</button>
      </div>
    </div>

    <div ng-if="poker.moderator.id != poker.me.id">
      <button ng-click='becomeModerator()'>Become Moderator</button>
    </div>

    <hr>
  </div>

  <div ng-controller="VoteController">
    <div>Current item:</div>
    <div ng-bind-html="poker.description.text | linky"></div>
    <button ng-repeat='point in poker.availablePoints' ng-click='vote(point)'>{{point}}</button>
  </div>

  <div ng-controller="ParticipantsController">
    <ul>
      <li ng-repeat="person in poker.participants">
        {{ person.person.displayName }} -
        <span ng-if="!poker.votesRevealed.value">
          <span ng-show="!poker.votes[person.id]">...</span>
          <span ng-show="poker.votes[person.id]">voted</span>
        </span>

        <span ng-if="poker.votesRevealed.value">
          {{ poker.votes[person.id] }}
        </span>
      </li>
    </ul>
  </div>
</div>
